.in-war .property-cell-name {
    background-color: #6c3333cd;
}
.war-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 2px 10px 0 10px;
}
.war-div {
    min-height: 60px;
    overflow: hidden;

    border-radius: 6px;
    background-color: #eeeeeeea;
}
.fight-total {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 2px 0;
    letter-spacing: -0.3px;
    align-items: center;
    width: 100%;
    background-color: #636466cd;
}
.fight-total .player-stat-strength {
    margin: 0 2px;
}
.h2-total {
    font-size: 22px;
    text-align: center;
    padding: 0 10px;
    letter-spacing: -0.5px;
    word-spacing: 1px;
    color: #2b2732;
}
.your-chance {
    color: #444;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.5px;
    word-spacing: 1px;
    margin-top: 1px;
    margin-bottom: -3px;
}
.ul-war-modeficators {
    padding: 1px 3px;
}
.war-modeficator {
    margin-bottom: 4px;
    font-size: 14px;
    letter-spacing: -0.5px;
    word-spacing: 1px;
    line-height: 1;
    overflow-wrap: break-word;
}
/* .ul-war-modeficators .player-stat-strength {
    height: 16px;
    font-size: 13px;
    padding: 0 2px 0 18px;
}
.ul-war-modeficators .recourse-img {
    width: 15px;
    height: 15px;
} */
.color-red-war {
    color: #df1728;
    font-weight: 500;
    padding-right: 4px;
}
.enemy-war {
    background-color: #efc0c0ea;
}

.enemy-war .fight-total {
    background-color: #64443dcd;
}
.your-war {
    background-color: #edefc0ea;
}
.your-war .fight-total {
    background-color: #64613dcd;
}
